body{
	font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	font-size: 13px;
}

div.hotkeys-ribbon {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

        position: absolute;
        left: -30px;
        top: 33%;
        z-index: 100;

        background-color: #DB347A;
        color: #333;
        cursor: pointer;
        padding: 20px 10px 10px 10px;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

	    border:2px #333 solid;

        font-size: 13pt;
}

table.docutils {
        border: 0px;
        margin: 0px;
        padding: 0px;
        width: 100%;
}

tt.literal {
        display: inline-block;
        margin: 0;
        padding: 3px 6px;
        min-width: 10px;
        text-align: center;
        font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
        background: #333;
        color: #EEE;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-shadow: 1px 1px 0 black;
}

a:focus {
	outline:1px dotted
}
hr {
	border:0 #ccc solid;
	border-top-width:1px;
	clear:both;
	height:0
}

h1 {
	font-size:25px
}

h2 {
	font-size:23px
}

h3 {
	font-size:21px
}

h4 {
	font-size:19px
}

h5 {
	font-size:17px
}

h6 {
	font-size:15px
}

ol {
	list-style:decimal
}

ul {
	list-style:disc
}

li {
	margin-left:30px
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,table,address,fieldset {
margin-bottom:20px
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 2, 2010 02:12:44 PM America/New_York */

@font-face {
	font-family: 'ComfortaaThin';
	src: url('fonts/Comfortaa_Thin-webfont.eot');
	src: local('☺'), 
		url('fonts/Comfortaa_Thin-webfont.ttf') format('truetype'), 
		url('fonts/Comfortaa_Thin-webfont.svg#webfontReo2lGxG') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaRegular';
	src: url('fonts/Comfortaa_Regular-webfont.eot');
	src: local('☺'), 
		url('fonts/Comfortaa_Regular-webfont.ttf') format('truetype'), 
		url('fonts/Comfortaa_Regular-webfont.svg#webfontxbL3cos8') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaBold';
	src: url('fonts/Comfortaa_Bold-webfont.eot');
	src: local('☺'), 
		url('fonts/Comfortaa_Bold-webfont.ttf') format('truetype'), 
		url('fonts/Comfortaa_Bold-webfont.svg#webfontjkcnhWWT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellRegular';
	src: url('fonts/Cantarell-Regular-webfont.eot');
	src: local('☺'), 
		url('fonts/Cantarell-Regular-webfont.ttf') format('truetype'), 
		url('fonts/Cantarell-Regular-webfont.svg#webfontPQ4tPnyo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellBold';
	src: url('fonts/Cantarell-Bold-webfont.eot');
	src: local('☺'), 
		url('fonts/Cantarell-Bold-webfont.ttf') format('truetype'), 
		url('fonts/Cantarell-Bold-webfont.svg#webfont3gCLDhwY') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellBoldOblique';
	src: url('fonts/Cantarell-BoldOblique-webfont.eot');
	src: local('☺'), 
		url('fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'), 
		url('fonts/Cantarell-BoldOblique-webfont.svg#webfont3gCLDhwY') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellOblique';
	src: url('fonts/Cantarell-Oblique-webfont.eot');
	src: local('☺'), 
		url('fonts/Cantarell-Oblique-webfont.ttf') format('truetype'), 
		url('fonts/Cantarell-Oblique-webfont.svg#webfont3gCLDhwY') format('svg');
	font-weight: normal;
	font-style: normal;
}
