div.voter {
    display: inline-block;
    width: 100px;
    right: 0px;
    float: right;
}
span.total {
    text-align: center;
    float:right;
}
span.arrow {
    float:right;
    margin-left:4px;
    margin-right:4px;
    width:100%;
    height:24px;
    width:24px;
    display:block;
    cursor:pointer;
    background-position:left center;
    background-repeat:no-repeat;
    background-clip: content-box;
}
span.arrow.upmod {
    background-image:url(../images/up_arrow_mod.png);
}
span.arrow.downmod {
    background-image:url(../images/down_arrow_mod.png);
}
span.arrow.up {
    background-image:url(../images/up_arrow.png);
}
span.arrow.down {
    background-image:url(../images/down_arrow.png);
}
span.up_text {   color: #DB347A; }
span.down_text { color: #3C6EB4; }

.voter {
    opacity: 0.4;
}

.voter .total{
    opacity: 1.0;
    color: #aaa;
}

.selected .voter {
    opacity: 1.0;
}

.selected .total {
    color: black;
    font-weight: 700;
}

.tags li {
    width: 100%;
}

.tags li a {
    width: 100%;
    min-height: 30px;
}

.tags ul {
    padding-left: 0px;
}

.selected {
    background-color: #E7E8E9;
    height: 30px;
}

.selected .arrow:hover {
    border: 2px solid #79db32 !important;
}
